# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Project Specific
uploads/
ffmpeg-8.0-essentials_build/
*.wav
*.mp3
*.m4a
*.ogg

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store
